<?xml version="1.0" encoding="utf-8"?>
<packages>
<!--
  Chocolatey Gallery | Python 3.x 3.5.2.20161029
  https://chocolatey.org/packages/python3

  choco install .\python3.config
  ChocolateyToolsLocation=C:\home\bin\tools
-->
  <package id="python3" packageParameters="/InstallDir:C:\home\bin\tools\python3" version="3.6.3" />
</packages>
