<?xml version="1.0" encoding="utf-8"?>
<packages>
<!--
  Chocolatey Gallery | Python 2.x 2.7.12.20161123
  https://chocolatey.org/packages/python2

  choco install .\python2.config
  ChocolateyToolsLocation=C:\home\bin\tools
-->
  <package id="python2" packageParameters="/InstallDir:C:\home\bin\tools\python2" version="2.7.14" />
</packages>
