<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- choco install -f -y .\vagrant.config -->
  <!-- VAGRANTAPPDIR=C:\home\bin\vagrant -->
  <!-- <package id="vagrant" version="1.8.5" installArguments="VAGRANTAPPDIR=C:\home\bin\vagrant" /> -->
  <!-- version="1.8.6" 以降-->
  <package id="vagrant" installArguments="INSTALLDIR=C:\home\bin\vagrant" version="2.0.1" />
</packages>
